body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: rgb(38, 38, 38); */
    /* color: rgb(223, 223, 223); */
    background-color: rgb(247, 247, 247);
  } 

a {
    color: black;
    text-decoration: none;
}

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 1em;
  }
  
.sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: grey;
    display: block;
    font-size: 1.5em;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
    font-size: 0.75em;
    color: #111;
}

.dropdown_btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    padding-left: 1.3em;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
}

.active {
    background-color:#FF924E;
    color: black;
}
  
.sidemenu a:hover {
    color: white;
}
  
.sidemenu .closebtn {
    position: absolute;
    top: 0;
    font-size: 35px;
}


.heading-title {
    text-align: center;
    padding-top: 2em;
}

.heading-description {
    text-align: center;
}

.image-title {
    font-size: 120%;
    cursor: pointer;
}

.portfolio-list {
    padding-top: 2em;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.portfolio-list .portfolio-image {
    width: auto;
    height: 15em;
    cursor: pointer;
}

.center-text {
    text-align: center;
    padding-left: 20em;
    padding-right: 20em;
}

.center-text-less-padding {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.middle-text {
    padding-left: 20%;
    padding-right: 20%;
}

.center-text-white {
    text-align: center;
    padding-left: 20em;
    padding-right: 20em;
    color: white;
}

.three-container {
    opacity: 0;
    transition: all 1s;
    filter: blur(0.1em);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding-top: 2em;
}

.container {
    opacity: 0;
    transition: all 1s;
    filter: blur(0.1em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.single-container {
    opacity: 0;
    transition: all 1s;
    filter: blur(0.1em);
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2em;
    padding-bottom: 2em;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.para-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    height: 100%;
    width: auto;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
}

.plant-background {
    position: absolute;
    height: auto;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2.2);
}

.heading-container {
    position: relative;
    text-align: center;
    color: white;
}

.fit-width {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.grey-text {
    color: rgba(67, 67, 67, 0.523);
}

.image-text {
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text {
    left: 50%;
}
  
.image-text-purple {
    font-weight: bold;
    font-size: 60px;
    color: #5500FF;
    background: -webkit-linear-gradient(#9D53FF, #5500FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show {
    opacity: 1;
    filter: blur(0);
}

.line {
    width: 10%;
}

.white-box {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    padding: 3em;
    border-radius: 1em;
    filter: drop-shadow(0 1em 0.5em rgba(0, 0, 0, 0.136));
}

.white-box-on-image {
    width: 40%;
    display: block;
    position: absolute;
    background-color: #FEFAEF;
    top: 50%;
    left: 50%;
    margin-top: 2em;
    padding: 2em;
    border-radius: 1em;
    filter: drop-shadow(0 1em 0.5em rgba(0, 0, 0, 0.136));
    transform: translate(-50%, -50%);
}

.box {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;

}

.subheading {
    font-size: 1.5em;
}

.green {
    background-color: #f3ffd6;
    padding-top: 2em;
    padding-bottom: 5em;
}

.green-title {
    font-size: 2em;
    color: #C9EC57;
    background: -webkit-linear-gradient(#C9EC57, #004F0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-sub-title {
    font-size: 1.5em;
    color: #C9EC57;
    background: -webkit-linear-gradient(#C9EC57, #004F0D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.purple {
    background-color: rgb(235, 229, 255);
    padding-top: 2em;
    padding-bottom: 5em;
}

.purple-gradient {
    background-color: rgb(235,229,255);
    background: linear-gradient(180deg, rgba(235,229,255,1) 0%, rgba(145,112,255,1) 100%);
}

.dark-purple {
    background-color: rgba(145,112,255,1);
}

.purple-white {
    background-color: white;
    background: linear-gradient(180deg, rgba(145,112,255,1) 0%, white 100%);
}

.purple-title {
    font-size: 2em;
    color: #5500FF;
    background: -webkit-linear-gradient(#9D53FF, #5500FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-title-medium {
    font-size: 1.5em;
    color: #5500FF;
    background: -webkit-linear-gradient(#9D53FF, #5500FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-heading {
    color:#5500FF;
    text-align: center;
}

.white-heading {
    color: white;
    text-align: center;
}

.number-circle {
    display: block;
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.journey-text {
    text-align: center;
    color: white;

}

.padding-left {
    padding-left: 10em;
}

.padding-left-white {
    padding-left: 10em;
    color: white;
}

.padding-right {
    padding-right: 10em;
}

.padding-right-white {
    padding-right: 10em;
    color: white;
}

.gradient-background {
    background-color: #c3eaff;
    background: linear-gradient(to right, #c3eaff 0%, #daf4e9 50%, #f1fcc1 100%);
    padding-top: 5em;
    padding-bottom: 5em;
}

.image {
    width: auto;
    height: 25em;
    padding-left: 10em;
}

.medium-image {
    width: auto;
    height: 15em;
    padding-left: 10em;
}

.image-left {
    width: auto;
    height: 25em;
    padding-left: 10em;
    float: left;
}

.white-bg {
    background: white;
}

.dots {
    display: block;
    width: 5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

.black-dots {
    display: block;
    width: 5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

#warp-header-text {
    font-size: 2em;
}

#small-dots {
    display: block;
    width: 3%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

#star {
    display: block;
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.header-text {
    color: white;
    text-align: center;
    font-size: 1.25em;
    padding-top: 8em;
    position: absolute;
}

.link {
    color: #9D53FF;
    font-weight: bold;
}

.prototype {
    padding-top: 2em;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.prototype-image {
    width: 50%;
}

#storyboard {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.paper-prototype {
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.sub-title {
    font-size: 1.5em;
}

.box-text {
    font-size: 0.9em;
}

.box-text-center {
    text-align: center;
}

#warp-background {
    position: relative;
    text-align: center;
    color: black;
}

#warp {
    max-width: 100%;
    aspect-ratio: 1 / 0.4;
}

#active-garden-images {
    padding-top: 5%;
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#exercise-screen {
    display: block;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#paper-prototype-small {
    display: block;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#resume {
    padding-top: 5em;
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#metro-jam-logo {
    display: block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    padding-top: 2em;
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

#now-playing-dots {
    display: block;
    width: 10%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10em;
}

#playing-padding-left {
    padding-left: 10em;
}

#playing {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#homepage {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#homepage-text-left {
    padding-left: 10em;
    margin-top: 5em;
}

#homepage-text-right {
    padding-right: 10em;
    margin-top: 13.5em;
}

#favourites {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 3em;
}

#train {
    width: 100%;
}

#wireframe {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 3em;
}

#journey-map {
    display: block;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    padding-bottom: 3em;
}

#goals {
    width: auto;
    height: 10em;
    padding-left: 10em;
    float: right;
    padding-top: 1.25em;
}

#frustrations {
    width: auto;
    height: 13em;
    padding-left: 10em;
}

#persona {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#nav-bar {
    width: 100%;
    color: white;
    margin: 0;
    /* background-color: rgb(22, 22, 22); */
    background-color: rgb(26, 26, 26);
    /* background-image: linear-gradient(to right, #FF924E, #DD2452); */
    padding: 0.65em;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 6px -6px black;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; */
}

#logo {
    width: 2.5em;
    cursor: pointer;
    display: block;
    float: left;
}

#hamburger {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 0.5em;
    cursor: pointer;
    float: left;
  }

#metrojam-header {
    padding-top: 3.5em;
    padding-bottom: 1em;
}

#metrojam-title {
    font-size: 4em;
    text-align: center;
    color: #5500FF;
    background: -webkit-linear-gradient(#9D53FF, #5500FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#metrojam-description {
    text-align: center;
    font-size: 1.2em;
}

.icon {
    display: block;
    width: 4em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

footer {
    background-color: #fefaef;
}

 /*600px, 601px, 768px, 992px, 1200px */
@media only screen and (max-width: 600px) {
    #nav-bar {
        width: 100%;
        color: white;
        margin: 0;
        background-color: rgb(26, 26, 26);
        padding: 1.5em;
        position: fixed;
        top: 0;
        z-index: 1;
        box-shadow: 0 6px 6px -6px black;

    }

    .sidemenu .closebtn {
        position: absolute;
        top: 0;
        font-size: 3em;

    }

    .sidemenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: grey;
        display: block;
        font-size: 2em;
    }

    #logo {
        width: 2.5em;
        cursor: pointer;
        display: block;
        float: right;
        padding-right: 4em;
    }

    #warp {
        opacity: 0;
    }

    .white-box-on-image {
        width: 100%;
        background-color: #FEFAEF;
        margin-top: 6em;
        padding-top: 8em;
        filter: none;
    }

    .heading-description {
        text-align: center;
        padding-top: 10em;
        margin-left: 10%;
    }

    .portfolio-list {
        padding-top: 2em;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .portfolio-list .portfolio-image {
        width: auto;
        height: 13em;
        cursor: pointer;
    }

    #star {
        display: block;
        width: 10%;
        height: auto;
        margin-left: 50%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #warp-header-text {
        font-size: 2em;
    }

    #header-text {
        margin-left: 10%;
    }

    #hamburger {
        font-size: 1.75em;
        padding-left: 1em;
        padding-right: 0.5em;
        cursor: pointer;
        float: left;
      }

    #resume {
        padding-top: 10em;
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .link {
        color: #9D53FF;
        font-weight: bold;
        font-size: 1.5em;
    }

    .center-text {
        text-align: center;
        padding: 1em;
    }

    .padding-left {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 1em;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
    }

    .container {
        grid-template-columns: 1fr;
    }
    
    .image-left {
        padding-top: 4em;
        width: auto;
        padding-left: 3em;
        padding-right: 3em;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .padding-right {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }

    #persona {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .dots {
        display: block;
        width: 10%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
    }

    .black-dots {
        display: block;
        width: 7%;
        height: auto;
    }

    .medium-image {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #goals {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #frustrations {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #journey-map {
        width: 95%;
        height: auto;
    }

    .center-text-white {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        color: white;
    }

    #train {
        width: auto;
        height: 10em;

    }

    #wireframe {
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #favourites {
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #homepage-text-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
    }

    .three-container {
        grid-template-columns: 1fr;
    }

    #homepage-text-right {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
    }

    #homepage {
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #playing-padding-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    #now-playing-dots {
        opacity: 0;
    }

    #playing {
        display: block;
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #banner {
        padding-top: 2em;
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
    }

    #metro-jam-logo {
        display: block;
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-text {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .fit-width {
        max-width: auto;
        height: 10em;
        object-fit: none;
        margin-top: 2em;
    }

    #storyboard {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .center-text-less-padding {
        text-align: center;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }

    .paper-prototype {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #paper-prototype-small {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #exercise-screen {
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .prototype-image {
        width: 85%;
    }

    #active-garden-images {
        padding-top: 5%;
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #nav-bar {
        width: 100%;
        color: white;
        margin: 0;
        background-color: rgb(26, 26, 26);
        padding: 1.5em;
        position: fixed;
        top: 0;
        z-index: 1;
        box-shadow: 0 6px 6px -6px black;

    }

    .sidemenu .closebtn {
        position: absolute;
        top: 0;
        font-size: 3em;

    }

    .sidemenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: grey;
        display: block;
        font-size: 2em;
    }

    #logo {
        width: 2.5em;
        cursor: pointer;
        display: block;
        float: right;
        padding-right: 4em;
    }

    #warp {
        opacity: 0;
    }

    .white-box-on-image {
        width: 100%;
        background-color: #FEFAEF;
        margin-top: 6em;
        padding-top: 8em;
        filter: none;
    }

    .heading-description {
        text-align: center;
        padding-top: 10em;
        margin-left: 10%;
    }

    .portfolio-list {
        padding-top: 2em;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .portfolio-list .portfolio-image {
        width: auto;
        height: 13em;
        cursor: pointer;
    }

    #star {
        display: block;
        width: 10%;
        height: auto;
        margin-left: 50%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #warp-header-text {
        font-size: 2em;
    }

    #header-text {
        margin-left: 10%;
    }

    #hamburger {
        font-size: 1.75em;
        padding-left: 1em;
        padding-right: 0.5em;
        cursor: pointer;
        float: left;
      }

    #resume {
        padding-top: 10em;
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .link {
        color: #9D53FF;
        font-weight: bold;
        font-size: 1.5em;
    }

    .center-text {
        text-align: center;
        padding: 1em;
    }

    .padding-left {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 1em;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
    }

    .container {
        grid-template-columns: 1fr;
    }
    
    .image-left {
        padding-top: 4em;
        width: auto;
        padding-left: 3em;
        padding-right: 3em;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    .padding-right {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }

    #persona {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .dots {
        display: block;
        width: 10%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
    }

    .black-dots {
        display: block;
        width: 7%;
        height: auto;
    }

    .medium-image {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #goals {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #frustrations {
        width: 90%;
        height: auto;
        margin-left: -8.5em;
    }

    #journey-map {
        width: 95%;
        height: auto;
    }

    .center-text-white {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        color: white;
    }

    #train {
        width: auto;
        height: 10em;

    }

    #wireframe {
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #favourites {
        display: block;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #homepage-text-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
    }

    .three-container {
        grid-template-columns: 1fr;
    }

    #homepage-text-right {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
    }

    #homepage {
        display: block;
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #playing-padding-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    #now-playing-dots {
        opacity: 0;
    }

    #playing {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #banner {
        padding-top: 2em;
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
    }

    #metro-jam-logo {
        display: block;
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-text {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .white-box-on-image {
        width: 60%;
        display: block;
        position: absolute;
        background-color: #FEFAEF;
        top: 50%;
        left: 50%;
        margin-top: 2em;
        padding: 2em;
        border-radius: 1em;
        filter: drop-shadow(0 1em 0.5em rgba(0, 0, 0, 0.136));
        transform: translate(-50%, -50%);
    }

    .portfolio-list {
        padding-top: 2em;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .padding-left {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 1em;
    }

    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
    }

    .container {
        grid-template-columns: 1fr;
    }
    
    .image-left {
        padding-top: 2em;
        width: auto;
        padding-left: 3em;
        padding-right: 3em;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding-bottom: 2em;
    }

    .padding-right {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
    }

    #persona {
        display: block;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .dots {
        display: block;
        width: 7%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
    }

    .black-dots {
        display: block;
        width: 7%;
        height: auto;
    }

    .medium-image {
        width: 60%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: auto;
        margin-right: auto;
    }

    #goals {
        width: 60%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: auto;
        margin-right: auto;
    }

    #frustrations {
        width: 60%;
        height: auto;
        padding-left: 3em;
        padding-right: 3em;
        margin-left: auto;
        margin-right: auto;
    }

    #journey-map {
        width: 95%;
        height: auto;
    }

    .center-text-white {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        color: white;
    }

    #train {
        width: auto;
        height: 10em;

    }

    #wireframe {
        display: block;
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #favourites {
        display: block;
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #homepage-text-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
    }

    .three-container {
        grid-template-columns: 1fr;
    }

    #homepage-text-right {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 1em;
        padding-bottom: 2em;
    }

    #homepage {
        display: block;
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #playing-padding-left {
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
    }

    #now-playing-dots {
        opacity: 0;
    }

    #playing {
        display: block;
        width: 35%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #banner {
        padding-top: 2em;
        display: block;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
    }

    #metro-jam-logo {
        display: block;
        width: 30%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .middle-text {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .center-text {
        text-align: center;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}